<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="loggedIn else elseBlock">
    <div class="container-fluid ps-md-0">
        <div class="row">
            <div class="d-none d-md-flex col-md-4 col-lg-2">
                <app-side-menu></app-side-menu>
            </div>
            <div class="col-md-8 col-lg-10 content">
                <div style="float: left; margin-top: 2%;" class="row box"> 
                    <span class="fs-1" style="font-weight: bold;">Diary</span>
                    
                </div>
                <div class="row box">
                    <hr style="width: 95%;">
                    <div class="col">
                        <div class="column-card" >
                            <span class="fs-2">Select Date</span>
                            <!-- <span style="margin-left: 10%;">Select date</span> -->
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Select date</mat-label>
                            <input matInput required [matDatepicker]="picker" [(ngModel)]="this.date" (dateChange)="this.handleDateChange($event)">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                
                    <!-- <div class="row"> -->
                        <div class="column-card" style="margin-top: 3%;" >
                            <span class="fs-2" >Calories Remaining</span>
                        </div>
                        <div class="row column-card" style="margin-top: 2%; text-align: center;">
                            <span class="fs-2 col-2" style="font-weight: bold;" >{{this.goal}}</span>
                            <span class="fs-2 col-1" >-</span>
                            <span class="fs-2 col-2" >{{this.totalCalories}}</span>
                            <span class="fs-2 col-1" >+</span>
                            <span class="fs-2 col-2" >{{this.totalCaloriesExercises}}</span>
                            <span class="fs-2 col-1" >=</span>
                            <span class="fs-2 col-2" >{{this.remainingCalories}}</span>
                        </div>
                        <div class="row column-card" style="margin-top: 1%; text-align: center;">
                            <span class="fs-2 col-2" style="font-weight: bold;">Goal</span>
                            <span class="fs-2 col-1"></span>
                            <span class="fs-2 col-2">Food</span>
                            <span class="col-1"></span>
                            <span class="fs-2 col-2">Exercise</span>
                            <span class="col-1"></span>
                            <span class="fs-2 col-2">Remaining</span>
                        </div>
                    <!-- </div> -->
                    <hr style="margin-top: 1%; width: 95%;">

                    <div class="split left">
                        <div class="row">
                            <div class="column-card" style="margin-top: 2%;">
                                <span class="fs-4" style="margin-left: 1%;">Breakfast</span>
                                <span class="fs-4" style="float: right;">{{this.totalCaloriesBreakfast}}</span>
                            </div>
                            <hr style="margin-top: 1%; ">
                            <div class="foodBox">
                                <div *ngFor="let f of foodBreakfast; let i = index;" [attr.data-index]="i">
                                    <div class="column-card" style="margin-bottom: 2%;">
                                        <span class="fs-4" style="margin-left: 1%;">{{f.name}}</span>
                                        <span class="fs-4" style="float: right"> 
                                            {{f.calories}} calories
                                            <span>
                                                <i class="fa fa-trash" aria-hidden="true" (click)="removeFoodBreakfast(i)" style="float: right; padding-left: 20px;"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <div *ngIf="!this.hideButtons">
                                    <button mat-raised-button color="primary" (click)="openFoodListDialog('breakfast')">Add Food</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="column-card" style="margin-top: 3%;">
                                <span class="fs-4" style="margin-left: 1%;">Lunch</span>
                                <span class="fs-4" style="float: right">{{totalCaloriesLunch}}</span>
                            </div>
                            <hr style="margin-top: 1%; ">
                            <div class="foodBox">
                                <div *ngFor="let f of foodLunch; let i = index;" [attr.data-index]="i">
                                    <div class="column-card" style="margin-bottom: 2%;">
                                        <span class="fs-4" style="margin-left: 1%;">{{f.name}}</span>
                                        <span class="fs-4" style="float: right">
                                            {{f.calories}} calories
                                            <span>
                                                <i class="fa fa-trash" aria-hidden="true" (click)="removeFoodLunch(i)" style="float: right; padding-left: 20px;"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <div *ngIf="!this.hideButtons">
                                    <button mat-raised-button color="primary" (click)="openFoodListDialog('lunch')">Add Food</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="column-card" style="margin-top: 3%;">
                                <span class="fs-4" style="margin-left: 1%;">Dinner</span>
                                <span class="fs-4" style="float: right">{{totalCaloriesDinner}}</span>
                            </div>
                            <hr style="margin-top: 1%; ">
                            <div class="foodBox">
                                <div *ngFor="let f of foodDinner; let i = index;" [attr.data-index]="i">
                                    <div class="column-card" style="margin-bottom: 2%;">
                                        <span class="fs-4" style="margin-left: 1%;">{{f.name}}</span>
                                        <span class="fs-4" style="float: right">
                                            {{f.calories}} calories
                                            <span>
                                                <i class="fa fa-trash" aria-hidden="true" (click)="removeFoodDinner(i)" style="float: right; padding-left: 20px;"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <div *ngIf="!this.hideButtons">
                                    <button mat-raised-button color="primary" (click)="openFoodListDialog('dinner')">Add Food</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="split right">
                        <div class="row">
                            <div class="column-card" style="margin-top: 2%;">
                                <span class="fs-4" style="margin-left: 1%;">Snacks</span>
                                <span class="fs-4" style="float: right">{{totalCaloriesSnacks}}</span>
                            </div>
                            <hr style="margin-top: 1%; ">
                            <div class="foodBox">
                                <div *ngFor="let f of foodSnacks; let i = index;" [attr.data-index]="i">
                                    <div class="column-card" style="margin-bottom: 2%;">
                                        <span class="fs-4" style="margin-left: 1%;">{{f.name}}</span>
                                        <span class="fs-4" style="float: right">
                                            {{f.calories}} calories
                                            <span>
                                                <i class="fa fa-trash" aria-hidden="true" (click)="removeFoodSnack(i)" style="float: right; padding-left: 20px;"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <div *ngIf="!this.hideButtons">
                                    <button mat-raised-button color="primary" (click)="openFoodListDialog('snacks')">Add Food</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column-card" style="margin-top: 3%;">
                                <span class="fs-4" style="margin-left: 1%; font-weight: bold;">Exercises</span>
                                <span class="fs-4" style="float: right">{{totalCaloriesExercises}}</span>
                            </div>
                            <hr style="margin-top: 1%; ">
                            <div class="foodBox">
                                <div *ngFor="let e of exercises; let i = index;" [attr.data-index]="i">
                                    <div class="column-card" style="margin-bottom: 2%;">
                                        <span class="fs-4" style="margin-left: 1%;">{{e.name}}</span>
                                        <span class="fs-4" style="float: right">
                                            {{e.calories}} calories
                                            <span>
                                                <i class="fa fa-trash" aria-hidden="true" (click)="removeExercise(i)" style="float: right; padding-left: 20px;"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <div *ngIf="!this.hideButtons">
                                    <button mat-raised-button color="primary" (click)="addExercise()">Add Exercise</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    Not logged in go away
</ng-template>