<div *ngIf="loggedIn else elseBlock">
    <!-- <div>
        Main Page
        <button mat-raised-button class="btn btn-lg btn-login btn-info text-uppercase fw-bold mb-2" type="submit"
        (click)="this.listInfoAboutMe()">List Info About Me!</button>
    </div>
    <div *ngIf="infoAboutMe">
        {{infoAboutMe.mail}} {{infoAboutMe._id}} 
    </div>
    <div>
        <button mat-raised-button class="btn btn-lg btn-login btn-info text-uppercase fw-bold mb-2" type="submit"
        (click)="this.logout()">Log out</button>
    </div> -->
    <div class="container-fluid ps-md-0">
        <div class="row">
            <div class="d-none d-md-flex col-md-4 col-lg-2">
                <app-side-menu></app-side-menu>
            </div>
            <div *ngIf="!this.hasGoalSet else elseGoalSetBlock" class="col-md-8 col-lg-10 content">
                <div class="row box">
                    <span class="title">Hello, {{this.currentUserName}}!</span>
                    <span class="fs-2" style="margin-top: 7%;">Please complete your details and your goals in order to use the application.</span>
                </div>
                <div class="box">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6 form-column">
                                    <span class="fs-2">Goals</span>
                                    <input type="text" class="form-control form-control-lg input-box" id="weight" placeholder="Weight (kg)">
                                    <select class="form-select form-select-lg input-box">
                                        <option>Choose your goal</option>
                                        <option>Lose weight</option>
                                        <option>Maintain</option>
                                        <option>Gain weight</option>
                                    </select>
                                </div>
                                <div class="col-6 form-column">
                                    <span class="fs-2">Information</span>
                                    <input type="text" class="form-control form-control-lg input-box" id="age" placeholder="Age">
                                    <input type="text" class="form-control form-control-lg input-box" id="height" placeholder="Height (cm)">
                                    <select class="form-select form-select-lg input-box">
                                        <option>Choose gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg box" style="width: 20vh;">Set</button>
                        </div>
                    </form>
                </div>
            </div>
            <ng-template #elseGoalSetBlock>
                <div class="col-md-8 col-lg-10 content">
                    <div class="row box">
                        <span class="title">Welcome back, {{this.currentUserName}}!</span>
                        <span class="fs-2" style="margin-top: 4%;">Here you can check your daily goal.</span>
                    </div>
                    <div class="row box">
                        <div class="col-6">
                            <div class="column-card">
                                <img src="../../assets/calories.jpg" style="height: 15vh;">
                                <span class="fs-2">Calories</span>
                            </div>
                            <div class="column-card">
                                <div class="progress">
                                    <div class="progress-bar bg-success" [style.width.%]="goalPercentage" role="progressbar">{{this.goalPercentage}}%</div>
                                </div>
                            </div>
                            <div class="column-card card-text">
                                <span class="fs-2">X consumed / Y</span>
                                <span class="fs-2">Z remaining</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card column-card">
                                <div class="card-body card-text">
                                  <span class="fs-3">Goal for today: Y Calories</span>
                                  <span class="fs-6">This is how many calories you should eat in one day</span>
                                </div>
                            </div>
                            <div class="card column-card">
                                <div class="card-body card-text">
                                    <span class="fs-3">Food: A Calories</span>
                                    <span class="fs-6">This is how many calories you gained today by eating food</span>
                                </div>
                            </div>
                            <div class="card column-card">
                                <div class="card-body card-text">
                                    <span class="fs-3">Exercies: B calories</span>
                                    <span class="fs-6">This is how many calories you lost by doing exercise</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>



<ng-template #elseBlock>
    Not logged in go away
</ng-template>



